<html>
    <title><%= title %></title>
    <body>
        <div>
            <div>
                <a href="/category/addCategory">Add A Category</a>
            </div>
        <% categories.map((category) => { %>
            <ul>
                <li>Name: <%= category.category_name %> </li>
                <li>Description: <%= category.category_description %></li>
                <li>Added At: <%= category.category_created_at %></li>
                <a href="/category/id/<%= category.category_id %>">More Info</a>
            </ul>
       <%  }) %>    
        </div>
        <div>
            <div>
                <a href="/product/addProduct">Add A Product</a>
            </div>
        <% products.map((product) => { %>
            <ul>
                <img src="<%= product.product_image_url %>" alt="prduct_image" />
                <li>Name: <%= product.product_name %> </li>
                <li>Description: <%= product.product_description %></li>
                <li>Category: <%= product.category_name %></li>
                <li>Added At: <%= product.product_created_at %></li>
                <a href="/product/id/<%= product.product_id %>">More Info</a>
            </ul>
       <%  }) %>
       </div>
    </body>
</html>