<html>
    <title><%= title %></title>
    <body>
        <% products.map((product) => { %>
            <ul>
                <img src="<%= product.product_image_url %>" alt="prduct_image" />
                <li>Name: <%= product.product_name %> </li>
                <li>Description: <%= product.product_description %></li>
                <li>Added At: <%= product.product_created_at %></li>
                <a href="/id/<%= product.product_id %>">More Info</a>
            </ul>
       <%  }) %>
    </body>
</html>